{%extends  'base.html'%}
{%block start %} 

<div class="container">
    <form action="" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        <div class="mb-3">
            <label for="" >Recipe Name</label><br>
            <input type="text" value="{{recipes.r_name}}" name="r_name">
        </div>
        <div class="mb-3">
            <label for="" >Description</label><br>
            <textarea type="text" style="block-size: 150px;" name="r_description" >{{recipes.r_description}}</textarea>
        </div>
        <div class="mb-3">
            <label for="" >Recipe Name</label><br>
            <input type="file" name="r_img"/>
        </div>
        <button type="submit">Update</button>
    </form>


</div>
{%endblock%}